body {
    font-family: Helvetica;
    background-color: #3F3F3F;
    color: white;
}

.circle-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.circle {
    border-style: solid;
    border-color: white;
    position: absolute;}

.hand {
    position: absolute;
    top: 0px;
    left: 50%;
    height: 100%;
    width: 1px;
}

.hand > .hand-top {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 50%;
    background-color: white;
}

.point {
    border: 1px solid white;
    cursor: pointer;
    position: absolute;
}

/* TODO: Add browser specific stuff here */
@-webkit-keyframes throb {
    from {transform: scale(1.5,1.5);
	border-color: red;
	background-color: red;}

    to {transform: scale(1, 1);
	  border-color: white;
	  background-color: white;}
}

.playing {
    -webkit-animation: throb 0.5s linear 0s 1;
}

.controls-container {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #3F3F3F;
    opacity: 0.9;
    z-index: 1000;
}

.controls {
    width: 250px;
    padding: 5px;
    border: 1px solid white;
}

.key {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 2px;
}

.key.key-active {
    background-color: red;
}

.key:hover {
    background-color: blue !important;
}

.key-white {
    background-color: white;
}

.key-black {
    background-color: black;
}